/*
 * Copyright 2015 Open Networking Laboratory
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/*
 ONOS GUI -- Host View -- CSS file
 */

#ov-app h2 {
    display: inline-block;
}

#ov-app div.ctrl-btns {
    width: 290px;
}

#ov-app form#inputFileForm,
#ov-app input#uploadFile {
    display: none;
}

#app-dialog p {
    font-size: 12pt;
}
.light #app-dialog p {
    color: darkred;
}
.dark #app-dialog p {
    color: #c55;
}


.light #app-dialog.floatpanel.dialog {
    background-color: #fff;
}
.dark #app-dialog.floatpanel.dialog {
    background-color: #444;
}
